.Balance {
  .header {
    background-color: #161616;

    border-radius: 0;
    padding: 16px 24px;
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: space-between;
  }

  .balanceTxt {
    display: flex;
    align-items: center;

    .text {
      font-weight: 300;
      color: #eaeaea;
      font-size: 1.2rem;
      padding-left: 5px;
    }
  }

  .balance {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #ffffff;

    .currency {
      color: #3ec745;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
